<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kon-ju</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="app.js"></script>
  </head>
  <body id="list-page">
    <div class="jumbotron">
      <div class="container">
        <h1>Kon-ju gator: Lists</h1>
        <p>French verbs - sorted</p>
      </div>
    </div>

    <section class="container">
      <div class="row">
        <div class="col-md-1">
          <ul class="links sidebar">
            <li><a href="/">Verb Search</a></li>
            <li><a href="/lists">Lists</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-md-offset-2">
          <form id="newList">
            <fieldset>
              <!-- Form Name -->
              <legend>New Verb List:</legend>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Name:</label>
                <div class="col-md-7 col-md-offset-1">
                <input id="name" name="name" type="text" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Textarea -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="newDescription">Description of contents:</label>
                <div class="col-md-7 col-md-offset-1">
                  <textarea class="form-control" id="newDescription" name="description"></textarea>
                </div>
              </div>

              <!-- Dropdown menu -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="verbs">Verbs (press ctrl/⌘ + click to multi-select):</label>
                <!-- consider turning this into a drop down -->
                <div class="col-md-7 col-md-offset-1">
                  <select class="verbs" name="verbs" multiple="true">
                  <!-- Populated by the list of verbs -->
                  </select>
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
         <!-- <label class="col-md-4 control-label" for="singlebutton">Create</label> -->
                <div class="col-md-2 col-md-offset-5">
                  <button id="singlebutton" class="btn btn-primary">Create</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

      <!-- verb stuff! -->
      <div id='lists'>
      </div>

    </section>

    <!-- begin editListModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="editListModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit List: <strong><span class='list-name title'></span></strong></h4>
          </div>
          <div class="modal-body part1">
            <fieldset>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Name:</label>
                <div class="col-md-7 col-md-offset-1">
                  <input id="editName" name="name" type="text" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Textarea -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="newDescription">Description of contents:</label>
                <div class="col-md-7 col-md-offset-1">
                  <textarea class="form-control" id="editDescription" name="description"></textarea>
                </div>
              </div>
            </fieldset>
          </div>
          <!-- To be removed and added to app.js -->
          <div class="modal-body part2">
            <fieldset>

              <div class="col-md-12">
                <button class="btn btn-success" id="addVerb">+</button>
              </div>

            <!-- Dropdown menu -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="verbs">Select a new verb:</label>
                <!-- consider turning this into a drop down -->
                <div class="col-md-7 col-md-offset-1">
                  <select class="verbs" name="verbs">
                  <!-- Populated by the list of verbs -->
                  </select>
                </div>
              </div>

            </fieldset>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" id="createVerb">Save Changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  
  </body>
</html>
