<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kon-ju</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="app.js"></script>
  </head>
  <body id="list-page">
    <div class="jumbotron">
      <div class="container">
        <h1>Kon-ju gator - Lists</h1>
        <p>French verbs - sorted</p>
      </div>
    </div>

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>UNDER CONSTRUCTION</h1>
        </div>
      </div>

      <!-- verb stuff! -->
      <div id='lists'>
        
      </div>
    </section>

  </body>
</html>
