<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kon-ju</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Kon-ju gator</h1>
        <p>Your source for French verbs!</p>
      </div>
    </div>

    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Tapez un verbe</h2>
          <h2>Type a verb:</h2>
          <input type="text" placeholder="Type a verb">
          <p class="search-error"></p>
        </div>
      <!--   <div class="col-md-4">
          <button class="btn btn-primary">Aimer</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary">Avoir</button>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary">Faire</button>
        </div> -->
      </div>

      <!-- verb stuff! -->
      <div id='verbs'>

      </div>
    </section>

     <!-- begin editVerbModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="editVerbModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Update Album Information</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <form class='form-horizontal'>
                <div class="form-group">
                  <label class="col-md-3 col-md-offset-1 control-label" for="name">Album Name</label>
                  <div class="col-md-5">
                  <input id="name" name="name" type="text" placeholder="" class="form-control input-md album-name" required="">

                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 col-md-offset-1 control-label" for="artistName">Artist Name</label>
                  <div class="col-md-5">
                  <input id="textinput" name="artistName" type="text" placeholder="" class="form-control input-md artist-name">

                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-3 col-md-offset-1 control-label" for="releaseDate">Release Date</label>
                  <div class="col-md-5">
                  <input id="releaseDate" name="releaseDate" type="text" placeholder="1992" class="form-control input-md release-date">

                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="genres">Genres <br />(separated by commas)</label>
                  <div class="col-md-4">
                    <textarea class="form-control genres" id="genres" name="genres"></textarea>
                  </div>
                </div>
                
              
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <!-- Consider deleting/hiding this button and adding/showing it upon data entry. -->
            <button type="button" class="btn btn-info" id="updateAlbum">Save Changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </body>
</html>
