.jumbotron {
	color: blue;
}

.col-md-10 {
	text-align: center;
}

#verbs {
	text-align: center;
	margin-top: 20px;
}
.center {
	border-right: 1px solid black;
}

.bottom {
	border-bottom: 1px solid black;
}

.conjugation {
	font-size: 18px;
	padding-bottom: 5px;
}

.search-error {
	padding-top: 20px;
	color: red;
}

.search-error button {
	margin-top: 10px;
}

span input {
	text-align: center;
	margin-bottom: 5px;
}

.notice {
	color: red;
}

.new-verb {
	text-align: center;
}

#newList label {
	text-align: right;
}

#newList legend {
	text-align: center;
}

#newList select {
	margin: 0 auto;
	width: 100%;
}

.panel-body {
	text-align: left;
}

